{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'login/login.css' %}">
{% endblock %}

{% block content %}
<div style=max-width:fit-content;margin-left:auto;margin-right:auto;>
    {% if profile.image %}
    <img src="{{profile.image.url}}" class="card-img-top">
    {% endif %}
    <label>Email: {{ user.email }}</label><br><br>
    <label>User since: {{ user.date_joined.date }}</label>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <label>First name:</label>
        <input type="text" id="fname" name="fname" value="{{profile.fname}}"><br><br>
        <label>Last name:</label>
        <input type="text" id="lname" name="lname" value="{{profile.lname}}"><br><br>
        <label>Birth Date:</label>
        <input type="date" id="birth_date" name="birth_date" value="{{ profile.birth_date|date:'Y-m-d' }}"><br><br>
        <h3>Address</h3>
        <label>Street Address:</label>
        <input type="text" id="addresss" name="address" value="{{ profile.address }}"><br><br>
        <label>City:</label>
        <input type="text" id="city" name="city" value="{{ profile.city }}"><br><br>
        <label>State:</label>
        <input type="text" id="state" name="state" value="{{ profile.state }}"><br><br>
        <label>ZIP Code:</label>
        <input type="text" id="zip_code" name="zip_code" value="{{ profile.zip_code }}"><br><br>
        <label>Image:</label>
        <input type="file" id="image" name="image" value="{{ profile.image }}"><br><br>
        <input type="submit" name="main_submit" value="Save">
    </form>
    {%if perms.login.lender_perms %}
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <div id="promotion_form">
            <label> Add another User as a Libarian? </label><br>
            <label> Enter User Email </label>
            <input type="text" id="email" name="email">
            <input name='email_submit' type="submit" value="Promote">
        </div>
    </form>

    {% endif %}
</div>
{% endblock content %}